@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --overlay-color:#03a9f4;
    --variable-width:100%;
    --background : #111111;
    --second-background : #222222;
    --main : #2dffa8;
    --secondary : #f4f4f4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background);
    z-index: 2;
    transition: 0.5s;
}

.showcase.active {
    right: 300px;
}


.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    position: absolute;
    left: 100px;
    top: 50px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
    color: var(--secondary);
}

.logo.active {
    position: absolute;
    left: 350px;
    top: 50px;
    transition: .5s;
}

.logo.deactive {
    position: absolute;
    left: 100px;
    top: 50px;
    transition: .5s;
}


.toggle {
    position: absolute;
    right: 100px;
    top: 50px;
    width: 60px;
    height: 60px;
    background: url(Icon/toggle-white.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    cursor: pointer;
    transition: .5s;
}

.toggle.active {
    background: url(Icon/toggle-close-white.png);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center;
    position: absolute;
    right: 50px;
    top: 40px;
}

.toggle.deactive {
    position: absolute;
    right: 100px;
    top: 50px;
    transition: .5s;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .8;
}

/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--secondary);
    mix-blend-mode: overlay;
} */

.text {
    position: absolute;
    left: 100px;
    top: center;
    z-index: 10;
    transition: .5s;
    opacity: .9;
}

.text.active {
    position: absolute;
    left: 350px;
    top: center;
    transition: .5s;
}

.toggle.deactive {
    position: absolute;
    left: 100px;
    top: center;
    transition: .5s;
}

.text h2{
    font-size: 6em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
    color: var(--main);
}

.text h3{
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: var(--background);
    padding: 10px 30px;
    text-decoration: none;
    color: var(--main);
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .2s;
}

.text a:hover {
    letter-spacing: 6px;
}


.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}

.menu ul {
    position: relative;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    font-size: 24px;
    color: var(--secondary);
    line-height: 2em;
}

.menu ul li a:hover {
    color: var(--main);
}

@media(max-width:1000px) {
    .showcase,
    .showcase header {
        padding: 40px;
    }

    .showcase.active {
        right: 250px;
    }

    .text h2{
        font-size: 3em;
    }

    .text h3{
        font-size: 2em;
    }

    .menu ul li a {
        font-size: 20px;
    }}

    @media(max-width:750px) {

        .showcase.active {
            right: 200px;
        }
    
        .text h2{
            font-size: 2em;
        }
    
        .text h3{
            font-size: 1em;
        }
    
        .menu ul li a {
            font-size: 14px;
        }}
